<!DOCTYPE html>
{%  load static %}
<html>
<head>

</head>

<body>
    <div id="wrapper">
        <header>
            <div id="logo">
                <img src="{{ BASE_URL }}{% static "frontend/header-email.jpg" %}" alt=""}><!-- Meter imagen de aula  -->
            </div>
        </header>

        <div class="one-col">
            <h1>Recuperar contraseña</h1>
            <p> Por favor, para continuar con el proceso de recuperar la contraseña presione el botón que aparece a continuación</p>
            <p> Si por el contrario, usted no ha solicitado este cambio, no tenga en cuenta este correo. </p>
            <div className="col text-center form-group">
                <a href={{url}}> Recuperar contraseña</a>
            </div>

        </div>

    </div> <!-- End Wrapper -->

</body>

</html>