<!DOCTYPE html>

<html>
<head>

</head>

<body>
    <div id="wrapper">
        <header>
            <div id="logo">
                <img src={'static/frontend/public/images/decision-register.jpg'}"><!-- Meter imagen de aula  -->
            </div>
        </header>

        <div class="one-col">
            <h1>Verifica tu cuenta en Aula</h1>
            <p> Por favor, confirme su registro en la plataforma de Aula presionando el botón que aparece a continuación</p>
            <p> Si por el contrario, usted no ha solicitado este registro, no continue con la validación. </p>
            <div className="col text-center form-group">
                <a href={{url}}> Validar correo</a>
            </div>

        </div>

    </div> <!-- End Wrapper -->

</body>

</html>